@import "./bootstrap.min";
//@import "roboto.css";
@import "sofia/styles.css";
@import "variable";

@import "./partials/header";
@import "./partials/footer";
@import "partials/main-landing";
@import "partials/contact-us";
@import "./partials/early-access";
@import "./partials/product";
@import "partials/about-us";
@import "partials/learning-support";
@import "partials/integration";


html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}


.position-initial {
  position: initial;
}
a {
  text-decoration: none;
  color: $text-color;
  font-size: 1rem;
  &:hover {
    text-decoration: none;
    color: $bi-primary;
  }
}

.inline-middle {
  display: inline-block;
  vertical-align: middle;
}

.container-fluid {
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}


.h-desktop {
  display: none!important;
}

.h-mobile {
  display: inline-block;
}

@media screen and ( max-width: 767px ) {

  .h-desktop {
    display: inline-block;
  }

  .h-mobile {
    display: none!important;
  }

}

.form-group {
  margin-bottom: 18px;
}

input {
  height: 40px;
  border-radius: 32px!important;
  padding: 4px 24px !important;
}

.btn-bi-primary {
  border-radius: 32px;
  height: 40px;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: $white;
  background-color: transparent;
  background-image: linear-gradient(210.11deg, lighten($bi-primary, 20%), lighten($bi-primary, 15%), lighten($bi-primary, 10%), $bi-primary, $bi-primary)!important;
  border-color: lighten($bi-primary, 20%);
  transition: all ease-in-out 0.3s;
  padding-top: 8px;
  &:hover {
    border-color: lighten($bi-primary, 20%);
    box-shadow: 0 10px 15px rgba(0,0,0,0.15);
  }

  &:active, &:focus {
    box-shadow: 0 10px 15px rgba(0,0,0,0.15);
  }
}

.button-border {

  position: relative;
  display: inline-block;

  &::before {
    content: "";
    display: block;
    background: rgba(255, 255, 255, 0.15);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border-radius: 32px;
    animation: 1s infinite Pulse;
  }

  a , button {
    z-index: 99;
    position: relative;
  }
}

.btn-bi-shadow {
  background-color: $white;
  min-height: 2.5rem;
  min-width: 13.6875rem;
  align-content: center;
  align-items: center;
  vertical-align: center;
  color: $bi-primary;
  border-radius: $hard-radius;
  transition: all ease-in-out 0.3s;
  padding-top: 8px;

  &:hover {
    background: darken($white, 10%);
    color: $bi-primary;
  }
}

h1,h2,h3,h4,h5 {
  color: $dark-primary;
}

.pointer {
  cursor: pointer;
}
.shadow {
  box-shadow: 0 10px 15px rgba(159,159,159, 0.25)!important;
}

.required {
  &::after {
    content: '*';
    color: red;
    padding-left: 3px;
  }
}
.second-section {
  padding-top: 5rem!important;
}
@keyframes Pulse {
  from {
    -webkit-transform: scale(1.2,1.5);
    transform: scale(1.2,1.5);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  15% {
    -webkit-transform: scale(1,1.2);
    transform: scale(1,1.2);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  25% {
    -webkit-transform: scale(1.1,1.25);
    transform: scale(1.1,1.25);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  30% {
    -webkit-transform: scale(1.12,1.3);
    transform: scale(1.12,1.3);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  50% {
    -webkit-transform: scale(1.13,1.34);
    transform: scale(1.13,1.34);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  60% {
    -webkit-transform: scale(1.14,1.37);
    transform: scale(1.14,1.37);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  75% {
    -webkit-transform: scale(1.15,1.4);
    transform: scale(1.15,1.4);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  85% {
    -webkit-transform: scale(1.18,1.45);
    transform: scale(1.18,1.45);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: scale(1.2,1.5);
    transform: scale(1.2,1.5);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}

.integrates-list {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .item {
    display: inline-block;
    width: 200px;
    height: 70px;
    padding: 12px 16px;
    background: #fff;
    box-shadow: 0px 3.33333px 12.5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 4px;
    text-align: center;

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  .navigation {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: #fff;
    padding: 22px 1rem;
    box-shadow: -2px 0px 2px #ededed;

    img {

    }
    span {
      display: none;
      font-size: 1rem;
      text-align: center;
    }
  }

  @media screen and ( max-width: 567px ) {
    //white-space: unset;

    .item {
      height: 58px;
      min-width: 140px;
    }

    .navigation {
      display: none;

      //position: relative;
      //width: 100%;
      //display: block;
      //height: inherit;
      //text-transform: uppercase;
      //background: #fff;
      //border-radius: 32px;
      //padding: 8px;
      //border: 1px solid #ededed;

    //&::before{
    //    content: "";
    //    backdrop-filter: blur(2px);
    //    width: 100%;
    //    height: 60px;
    //    border-radius: 50%;
    //    position: absolute;
    //    top: -52px;
    //    left: 0;
    //  }

      img {
        display: none;
      }
      span {
        display: block;
      }
    }

  }
}
@media screen and (max-width: 567px) {#early-form-success {background: rgba(0,0,0,0.22);padding: 0 2rem 3rem;border-radius:16px;}}
.contact-us .second-section .card .card-body {padding:2rem!important}